.Movie {
    border : 5px solid red;
    border-radius: 25px;
    margin : 10px 0px;
    padding : 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.Movie > div {
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.Movie img {
    height: 268px;
    width : 168px;
}

#recommendedMovie {
    font-weight: 900;
}

